---
import Section from "./SeccionComun.astro";
---

<Section
  title="Trabaja desde donde quieras"
  subtitle="¿Te gustaria poder trabajar desde cualquier parte del mundo y viajar donde te plazca?"
  color="white"
  id="pagina-2"
>
  <div slot="footer">
    <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded 
      font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      target=-blank>
      Consiguelo YA
    </a>
  </div>

  <img
    slot="background"
    alt="Imagen"
    class="h-full w-full object-cover object-center bg-image"
    src="imagen_2.jpg"
    id="bg-image-background1"
  />
</Section>