---
import Section from "./SeccionComun.astro";
---

<Section
  title="De friegaplatos a vividor follador"
  subtitle="Yo estaba como tu, pero gracias a un buen mentor he conseguido estar donde realmente me merezco"
  color="white"
  id="pagina-3"
>
  <div slot="footer">
    <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded 
      font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      target=-blank>
      Tu también puedes lograrlo
    </a>
  </div>

  <img
    slot="background"
    alt="Imagen"
    class="h-full w-full object-cover object-center bg-image"
    src="imagen_3.jpg"
    id="bg-image-background1"
  />
</Section>